:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
}

/* Navigation */
.link-nav a {
  color: var(--primary-text-color);
}
.link-contact a {
  color: var(--secondary-text-color);
}
.link:hover {
  color: var(--accent-text-color);
}

/* Hero */
.section-hero-title {
  color: #ffffff;
}
.section-hero button {
  color: #ffffff;
}
