:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
}

/* Navigation */
ul {
  list-style: none;
}

/* Navigation header */
.link-nav a {
  color: var(--primary-text-color);
}
.link-contact a {
  color: var(--secondary-text-color);
}
.link:hover {
  color: var(--accent-text-color);
}
.link:focus{
  color: blue;
}
.link-nav .page-current{
  color: var(--accent-text-color);
}
  .logo a{
    color:#000000
  }

/* Hero */
.section-hero-title {
  color: #ffffff;
}
.section-hero button {
  color: #ffffff;
}
.section-hero button:focus{
  color: blue;
}
.section-hero button:hover{
  color:var(--accent-text-color)
}

/* Advantages */
.section-advantages h3 {
  color: var(--primary-text-color);
}
.section-advantages p {
  color: var(--secondary-text-color);
}

/* Work-title */
.section-title {
  color: var(--primary-text-color);
}
.section-subtitle {
  color: var(--primary-text-color);
}
.section-caption{
    color: var(--secondary-text-color);
}

/* Footer */
.address-text{
  color: #ffffff;
}
.address a{
  color: var(--secondary-text-color);
}
.address a:hover{
  color: var(--accent-text-color);
}
.address a:focus{
  color: blue;
}

