:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  
}

ul {
  list-style: none;
}
.link{
  text-decoration: none;
}

/* Navigation header */
.link-nav a {
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-contact a {
  color: var(--secondary-text-color);
}
.link:hover {
  color: var(--accent-text-color);
}
.link:focus{
  color: blue;
}
.link-nav .page-current{
  color: var(--accent-text-color);
}
.logo{
    color:#000000
}

/* Hero-Studio */
.section-hero-title {
  color: #ffffff;
}
.section-hero button {
  color: #ffffff;
}
.section-hero button:focus{
  color: blue;
}
.section-hero button:hover{
  color:var(--accent-text-color)
}

/* Hero-Portfolio */
.button-list button{
  color: var(--primary-text-color);
}
.button-list button:hover{
  color:var(--accent-text-color);
}
.button-list button:focus{
color: blue;
}

/* Advantages-Studio */
.section-advantages h3 {
  color: var(--primary-text-color);
}
.section-advantages p {
  color: var(--secondary-text-color);
}

/*Projects-Portfolio  */
.projects h2{
  color: var(--primary-text-color);
}
.projects p{
  color: var(--secondary-text-color);
}

/* Work-title Studio */
.section-title {
  color: var(--primary-text-color);
}
.section-subtitle {
  color: var(--primary-text-color);
}
.section-caption{
    color: var(--secondary-text-color);
}

/* Footer */
.address-text{
  color: #ffffff;
}
.footer-logo{
  color:var(--accent-text-color)
}
.address a{
  color: var(--secondary-text-color);
}
.address a:hover{
  color: var(--accent-text-color);
}
.address a:focus{
  color: blue;
}

